footer {
  background-color: var(--colorSecundario);
  text-align: center;
  display: flex;
  justify-content: center;
}
footer p {
  margin: 0;
  color: rgb(0, 0, 0);
}
.containerFooter {
  color: rgb(0, 0, 0);
  display: inherit;
  justify-content: space-between;
  padding: 1.5rem;
  text-align: start;
  width: 1280px;
}

.containerIconos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: rgb(0, 0, 0);
}
.containerIconos svg {
  color: black;
}
.containerFooter ul {
  list-style-type: none;
  padding: 0;
}
.containerFooter li {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}
.containerFooter li:hover {
  text-decoration: underline;
}
